{% extends "admin_base.html" %}
{% block body %}

<h4>Admin Settings</h4>

{% module AdminSettingsNavModule() %}


<div id="admin-settings-content">

  {# we want to load only what we need... #}
  {# theres a commented out js for load() but maybe overkill #}
  
  {% if sMod == "site" %}  
  {% module AdminSettingsSiteModule() %}
  {% end %}
  
  {% if sMod == "contact" %}  
  {% module AdminSettingsContactModule() %}
  {% end %}

  {% if sMod == "analytics" %}  
  {% module AdminSettingsAnalyticsModule() %}
  {% end %}

  {% if sMod == "data" %}  
  {% module AdminSettingsDataModule() %}
  {% end %}
  
  {% if sMod == "campaign" %}  
  {% module AdminSettingsCampaignModule() %}
  {% end %}

  {% if sMod == "calendar" %}  
  {% module AdminSettingsCalendarModule() %}
  {% end %}

  {% if sMod == "map" %}  
  {% module AdminSettingsMapModule() %}
  {% end %}

</div>

{% end %}

