<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/admin">TORCMS</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Username</a>
        </p>

		{# find active url to add class - avoid IndexError #}
		{% if len(handler.request.uri.split('/')) > 2 %}
		{% set activeUrl = handler.request.uri.split('/')[2] %}
		{% else %}
		{% set activeUrl = "admin" %}
		{% end %}

		<ul class="nav">

		{% for (url,txt,icon) in nitems %}
		  <li
		  {% if txt.lower() == activeUrl %}
		  class="active"
		  {% end %}>
			<a href="{{ url }}">
			  <i class="{{icon}}"></i> {{txt}}</a>
		  </li>
		  {% end %}
		</ul>
		
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

