{% extends "admin_base.html" %}
{% block body %}

<h4>Admin Settings</h4>

{% module AdminSettingsNavModule() %}

<div id="admin-settings-content" class="row-fluid">
  
  {# we want to load only what we need... #}
  {# theres a commented out js for load() but maybe overkill #}
  {# forms are being added to module through uimodules... #}
  
  {% if sMod == "site" %}  
  <div class="span4">
    {% module AdminSettingsSiteFormModule() %}
  </div>
  <div class="span6">
    {% module AdminSettingsSiteModule() %}
  </div>
  {% end %}  


  {% if sMod == "map" %}  
  <div class="span3">
    {% module AdminSettingsAddressFormModule() %}
  </div>
  <div class="span7 pull-left">
    {% module AdminSettingsMapModule() %}
  </div>
  {% end %}


  {% if sMod == "social" %}  
  <div class="span4">
    {% module AdminSettingsSocialFormModule() %}
  </div>
  <div class="span6">
    {% module AdminSettingsSocialModule() %}
  </div>
  {% end %}


  {% if sMod == "contact" %}  
  {% module AdminSettingsContactModule() %}
  {% end %}

  {% if sMod == "analytics" %}  
  {% module AdminSettingsAnalyticsModule() %}
  {% end %}

  {% if sMod == "data" %}  
  {% module AdminSettingsDataModule() %}
  {% end %}
  
  {% if sMod == "campaign" %}  
  {% module AdminSettingsCampaignModule() %}
  {% end %}

  {% if sMod == "calendar" %}  
  {% module AdminSettingsCalendarModule() %}
  {% end %}

</div>

{% end %}

