<form action="" method="post" enctype="multipart/form-data" class="form">
{% raw xsrf_form_html() %}

<div class="control-group">
  <label class="control-label" for="sitename">Site Name</label>
  <div class="controls">
    {{ form.sitename() }}
    {% if form.sitename.errors %}
    {% for error in form.sitename.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="contact">Contact</label>
  <div class="controls">
    {{ form.contact() }}
    {% if form.contact.errors %}
    {% for error in form.contact.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="tagline">Tagline</label>
  <div class="controls">
    {{ form.tagline() }}
    {% if form.tagline.errors %}
    {% for error in form.tagline.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="timezone">Timezone</label>
  <div class="controls">
    {{ form.timezone() }}
    {% if form.timezone.errors %}
    {% for error in form.timezone.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}

  </div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form>
