<form action="" method="post" enctype="multipart/form-data" class="form">
{% raw xsrf_form_html() %}

<div class="control-group">
  <div class="controls">
    {{ form.slug(placeholder="Slug",required="true") }}
    {% if form.slug.errors %}
    {% for error in form.slug.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <div class="controls">
    {{ form.title(placeholder="Title",required="true") }}
    {% if form.title.errors %}
    {% for error in form.title.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <div class="controls">
    {{ form.subtitle(placeholder="Sub-title") }}
    {% if form.subtitle.errors %}
    {% for error in form.subtitle.errors %}
    <span class="errors">{{ error }}</span>
    {% end %}
    {% end %}
  </div>
</div>

<div class="control-group">
  <div class="controls">    
    {{ form.summary(rows=12,cols=400,placeholder="Summary") }}
  </div>
</div>

<div class="control-group">
  <div class="controls">    
    {{ form.content(placeholder="Content") }}
  </div>
</div>

<button type="submit" class="btn btn-primary">Save</button>
</form>
