{# currently using data-req for request to keep boostrap js intact #}
<ul class="nav nav-tabs" id="admin-settings-nav">
  <li><a href="#settings-site" data-toggle="tab" data-req="settings-site">Site</a></li>
  <li><a href="#settings-contact" data-toggle="tab" data-req="settings-contact">Contact</a></li>
  <li><a href="#settings-analytics" data-toggle="tab" data-req="settings-analytics">Analytics</a></li>
  <li><a href="#settings-data" data-toggle="tab" data-req="settings-data">Data</a></li>
  <li><a href="#settings-campaign" data-toggle="tab" data-req="settings-campaign">Campaign</a></li>
  <li><a href="#settings-calendar" data-toggle="tab" data-req="settings-calendar">Calendar</a></li>
  <li><a href="#settings-map" data-toggle="tab" data-req="settings-map">Map</a></li>
</ul>

