<ul class="nav nav-tabs">
  <li><a href="#settings-site" data-toggle="tab">Site</a></li>
  <li><a href="#settings-contact" data-toggle="tab">Contact</a></li>
  <li><a href="#settings-analytics" data-toggle="tab">Analytics</a></li>
  <li><a href="#settings-data" data-toggle="tab">Data</a></li>
  <li><a href="#settings-campaign" data-toggle="tab">Campaign</a></li>
  <li><a href="#settings-calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#settings-map" data-toggle="tab">Map</a></li>
</ul>

