<ul class="nav nav-tabs">
  <li><a href="#settings-site" data-toggle="tab">Site</a></li>
  <li><a href="#settings-contact" data-toggle="tab">Contact</a></li>
  <li><a href="#settings-analytics" data-toggle="tab">Analytics</a></li>
  <li><a href="#settings-data" data-toggle="tab">Data</a></li>
  <li><a href="#settings-campaign" data-toggle="tab">Campaign</a></li>
  <li><a href="#settings-calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#settings-map" data-toggle="tab">Map</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="settings-site">Site Settings blah blah blah</div>
  <div class="tab-pane" id="settings-contact">Contact Sttings and so on and so on</div>
  <div class="tab-pane" id="settings-analytics">Analytics stuff goes here</div>
  <div class="tab-pane" id="settings-data">Data stuff goes here</div>
  <div class="tab-pane" id="settings-campaign">Campaign stuff goes here</div>
  <div class="tab-pane" id="settings-calendar">Calendar stuff goes here</div>
  <div class="tab-pane" id="settings-map">Map stuff goes here</div>
</div>
 
