{% extends "admin_base.html" %}
{% block body %}

<h4>Admin Settings</h4>

{% module AdminSettingsNavModule() %}

{# js control for lower sections from settings nav module #}

{{ sMod }}


<div class="tab-content">
  
  {% module AdminSettingsSiteModule() %}

  {% module AdminSettingsContactModule() %}

  {% module AdminSettingsAnalyticsModule() %}

  {% module AdminSettingsDataModule() %}

  {% module AdminSettingsCampaignModule() %}

  {% module AdminSettingsCalendarModule() %}

  {% module AdminSettingsMapModule() %}


{% end %}

